*{margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
.hidde{visibility: hidden;}
.al_l{text-align: left;}
.al_r{text-align: right;}
.al_c{text-align: center;}
.mg_t{margin-top: 0;}
.mg_b{margin-bottom: 0;}
.mg_l{margin-left: 0;}
.mg_r{margin-right: 0;}